@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply px-6 py-2 rounded-full bg-bluegray-light hover:bg-bluegray-medium transition-colors;
	}
	.btn-primary {
		@apply px-6 py-2 rounded-full bg-salmon-primary/80 text-white hover:opacity-90 transition-colors;
	}
	.btn-secondary {
		@apply px-6 py-2 rounded-full bg-bluegray-medium/80 text-white hover:bg-bluegray-light hover:text-gray-800 transition-colors;
	}
	.btn-link {
		@apply px-0 bg-transparent hover:text-bluegray-medium transition-colors;
	}
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fafafb;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  color: #213547;
  background-color: #ffffff;
  min-width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
